USE [cabrador]
GO
/****** Object:  Table [dbo].[customers]    Script Date: 3/7/2017 1:25:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NULL,
	[photo] [varchar](255) NULL,
	[email] [varchar](255) NULL,
	[password] [varchar](255) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[dogs]    Script Date: 3/7/2017 1:25:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dogs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NULL,
	[breed] [varchar](255) NULL,
	[photo] [varchar](255) NULL,
	[shelter] [varchar](255) NULL,
	[adopted] [tinyint] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[drivers]    Script Date: 3/7/2017 1:25:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[drivers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NULL,
	[car] [varchar](255) NULL,
	[photo] [varchar](255) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[trips]    Script Date: 3/7/2017 1:25:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[trips](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[start_point] [varchar](255) NULL,
	[destination] [varchar](255) NULL,
	[price] [int] NULL,
	[miles] [int] NULL,
	[date] [datetime] NULL,
	[driver_id] [int] NULL,
	[dog_id] [int] NULL,
	[customer_id] [int] NULL
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[dogs] ON 

INSERT [dbo].[dogs] ([id], [name], [breed], [photo], [shelter], [adopted]) VALUES (1, N'Oakley', N'Boxer', N'/img/Oakley.jpg', N'Seattle Humane Society', 0)
INSERT [dbo].[dogs] ([id], [name], [breed], [photo], [shelter], [adopted]) VALUES (2, N'Alex', N'Shepherd Mix', N'/img/Alex.jpg', N'SPCA of Seattle', 0)
INSERT [dbo].[dogs] ([id], [name], [breed], [photo], [shelter], [adopted]) VALUES (3, N'Allie', N'Border Collie', N'/img/Allie.jpg', N'SPCA of Seattle', 0)
SET IDENTITY_INSERT [dbo].[dogs] OFF
SET IDENTITY_INSERT [dbo].[drivers] ON 

INSERT [dbo].[drivers] ([id], [name], [car], [photo]) VALUES (1, N'Aniekan', N'Toyota Prius', N'/drivers/Aniekan.jpg')
INSERT [dbo].[drivers] ([id], [name], [car], [photo]) VALUES (2, N'Ariel', N'Honda Element', N'/drivers.Ariel.jpg')
INSERT [dbo].[drivers] ([id], [name], [car], [photo]) VALUES (3, N'Ayana', N'Mercedes E-Class', N'/drivers/Ayana.jpg')
SET IDENTITY_INSERT [dbo].[drivers] OFF
