@{
  Layout="Shared/_Layout.cshtml";
}
<ul id="dropdown1" class="dropdown-content">
    <li><a href="">New Trip</a></li>
    <li class="divider"></li>
    <li><a href="#!">Past Trips</a></li>
</ul>
<nav>
    <div class="nav-wrapper">
        <a href="/profile/@Model["customer"].GetId()" class="brand-logo">Cabrador</a>
        <ul class="right hide-on-med-and-down">
            <!-- Dropdown Trigger -->
            <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Trips<i class="material-icons right">arrow_drop_down</i></a></li>
            <li><a href="/profile/@Model["customer"].GetId()/dogs">Our Dogs</a></li>
            <li><a href="/profile/@Model["customer"].GetId()">Your Profile</a></li>
            <li><a href="/">Log Out</a></li>
        </ul>
    </div>
</nav>

<h2>IT WORKED</h2>

<div class="carousel">
  <a class="carousel-item" href="#one!"><img src="/Content/img/Alex.jpg"></a>
  <a class="carousel-item" href="#two!"><img src="/Content/img/Allie.jpg"></a>
  <a class="carousel-item" href="#three!"><img src="/Content/img/Bebe.jpg"></a>
  <a class="carousel-item" href="#four!"><img src="/Content/img/Bowie.jpg"></a>
  <a class="carousel-item" href="#five!"><img src="/Content/img/Bella.jpg"></a>
</div>

@if (Model["dogs"].Count != 0)
{
  <ul>
    @foreach (var dog in @Model["dogs"])
    {
      <h4 class="dogs"><a href="/profile/@Model["customer"].GetId()/dogs/@dog.GetId()">@dog.GetName()</a></h4>
    }
  </ul>
}
