<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Cabrador</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/signup">Sign Up</a></li>
      <li><a href="/login">Login</a></li>
    </ul>
  </div>
</nav>
