<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Cabrador</title>
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
        <link rel="stylesheet" href="/Content/css/styles.css">
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
        <script src="/Content/js/scripts.js" charset="utf-8"></script>

    </head>
    <body>
        <nav>
            <div class="nav-wrapper">
                <a href="/" class="brand-logo">Cabrador</a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="/signup">Sign Up</a></li>
                    <li><a href="/login">Login</a></li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <div class="how">
                <h3>How it works</h3>
                <p>
                 Cabrador is a rideshare application that allows the passenger to get a ride with an adorable canine pal. All of the dogs you can choose to ride with are adoptable from local aniaml shelters. The first step is to request a new trip, and select your destination and dog copilot of your choice. Your driver will be on their way with your furry friend to pick you up soon! After your ride, you can choose to adopt your new pet pal from a local shelter!
                </p>
            </div>

            <div class="about">
                <h3>About us</h3>
                <p>
                 Cabrador was founded in 2017 with a vision to create a better ride experience for dog lovers. As avid ride share users, we found the lack of canine companionship lonely and sad and thought others might feel the same. With many shelter dogs needing homes, we thought this was a perfect opportunity to match up potential dog parents with their new puppers.
                </p>
            </div>

            <div class="shelter">
                <h3>Shelter Partners</h3>
                <p>
                 Cabrador is proud to partner with many outstanding local shelters including: Seattle Humane Society, Seattle Animal Shelter, Northwest Bulldog Haven, and Bellevue Humane Society. If you are interested in partnering with us, please contact us at cabradorpartner@cabrador.com.
                </p>
            </div>
        </div>

    </body>
</html>
