
@{
    Layout="Shared/_Layout.cshtml";
}

<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">Cabrador</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/signup">Sign Up</a></li>
      <li><a href="/login">Login</a></li>
    </ul>
  </div>
</nav>

<div class="row dog">
    <img src="/Content/img/icons/weirdone.png">
</div>


<div class="row middlerow">
  <h3 id="how">How it works</h3>
      <div class="col s4 text">
        <img class ="icons" src="/Content/img/icons/doghead.png" alt="" />
        <p> Request a new trip, and select your destination and dog copilot of your choice.</p>

      </div>
      <div class="col s4 text">
          <img class ="icons" src="/Content/img/icons/caricon.png" alt="" />
        <p> Your driver will be on their way with your furry friend to pick you up soon!.</p>
      </div>

      <div class="col s4 text">
          <img class ="icons" src="/Content/img/icons/houseicon.png" alt="" />
          <p> After your ride, you can choose to adopt your new pet pal from a local shelter!.</p>
      </div>
    </div>

<div class="row">
<div class="col s4">
<div class="about">

  <h3>About us</h3>
  <p>
    Cabrador was founded in 2017 with a vision to create a better ride experience for dog lovers. As avid ride share users, we found the lack of canine companionship lonely and sad and thought others might feel the same. With many shelter dogs needing homes, we thought this was a perfect opportunity to match up potential dog parents with their new puppers.

    Cabrador is proud to partner with many outstanding local shelters including: Seattle Humane Society, Seattle Animal Shelter, Northwest Bulldog Haven, and Bellevue Humane Society.
  </p>
</div>
</div>

<div class="col s8">
<img class="dogcar" src="/Content/img/icons/dogcar2.jpeg" alt="" />
</div>
</div>

<div class="row contact">

  <div class="col s6">

  </div>

<div class="col s2">
  <ul>
    <h5>Drive</h5>
    <h5>Ride</h5>
    <p>Help</p>
    <p>City</p>
    <p>Promo</p>
    <p>Events</p>
  </ul>
</div>

<div class="col s2">
  <ul>
    <h5>Contact</h5>
    <p>Email</p>
    <p>Phone</p>
    <p>Address</p>
    <p>Chat</p>
  </ul>
</div>

<div class="col s2">
  <ul>
    <h5>Shelters</h5>
    <p>Seattle Humane Society</p>
    <p>NW Bulldog Haven</p>
    <p>Bellevue Humane Society</p>
    <p>Seattle Animal Shelter</p>
  </ul>
</div>
</div>
