@{
  Layout="Shared/_Layout.cshtml";
}


<nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">Cabrador</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/signup">Sign Up</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
    </div>
</nav>

<div class="login">
 <img id="dashboard" src="/Content/img/icons/dashboard.jpeg" alt="" />
</div>
<div class="row">
<div class="col s1">

</div>
    <form action="/welcome/returning" method="post" class="col s10 loginform">
        <h3 id="returninguser">Returning User</h3>
        <div class="row">
            <div class="input-field col s10">
                <input id="customer-email" name="customer-email" type="email" class="validate">
                <label for="customer-email">Email</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s10">
                <input id="customer-password" type="password" name="customer-password" class="validate">
                <label for="customer-password">Password</label>
            </div>
        </div>
        <button type="submit" name="button" class="waves-effect waves-light btn loginbtn">Login</button>
    </form>
</div>
