<nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">Cabrador</a>
    </div>
</nav>


<h3>You have to create an account!</h3>

<a href="/signup">Sign up for an account</a>
<a href="/login">Log in again</a>
