<html>
<head>
    <title>Hermes TSP</title>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="/Content/css/styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
</head>
<body>
    <nav>
           <div class="nav-wrapper">
               <a href="/" class="brand-logo">Cabrador</a>
               <ul class="right hide-on-med-and-down">
                   <li><a href="/signup">Sign Up</a></li>
                   <li><a href="/login">Login</a></li>
               </ul>
           </div>
       </nav>
    <!-- The div that contains the map -->
    <div id="map"></div>

    <!-- The div that contains the waypoints and the submit link -->
    <div id="waypoints"><h1>Edit waypoints</h1>
        <input type="text" placeholder="Start" id="start">
        <input type="text" placeholder="Destination" class="waypoint_input">
        <a href="#" onclick="javascript:calcRoute()">Calculate</a>

    </div>

    <!-- The div that contains the calculated route and timetable -->
    <div id="discription"></div>
    <div id="fork"><a href="https://github.com/MoritzGoeckel/WaypointSchedule">Fork on Github</a></div>

    <!-- Google Maps API -->
    <!-- mapLoaded() as callback -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-CLyq0FM7DgF4DjKgqejE1KSxS9P0Tm8&callback=mapLoaded"
        async defer></script>

    <!-- JQuery 3.1 -->
    <script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>

    <!-- My functions -->
    <script src="/Content/js/scripts.js"></script>
</body>
</html>
