@{
  Layout="Shared/_Layout.cshtml";
}
<ul id="dropdown1" class="dropdown-content">
  <li><a href="/profile/@Model.GetId()/newtrip">New Trip</a></li>
  <li class="divider"></li>
  <li><a href="/profile/@Model.GetId()/trips">Past Trips</a></li>
</ul>
<nav>
  <div class="nav-wrapper">
    <a href="/profile/index/@Model.GetId()" class="brand-logo">Cabrador</a>
    <ul class="right hide-on-med-and-down">
      <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Trips<i class="material-icons right">arrow_drop_down</i></a></li>
      <li><a href="/profile/@Model.GetId()/dogs">Our Dogs</a></li>
      <li><a href="/profile/@Model.GetId()">Your Profile</a></li>
      <li><a href="/">Log Out</a></li>
    </ul>
  </div>
</nav>
<div class="row">

</div>
<div class="row">
  <div class="col s1">

  </div>
  <div class="col s4">

    <img id="photo" src='@Model.GetPhoto()'>
  </div>
<div class="col s1">

</div>

  <div class="body col s5">

    <div class="space">
      <h2>Name: @Model.GetName()</h2>
    </div>

    <div class="space">
      <h2>Email: @Model.GetEmail()</h2>
    </div>

    <div class="space">

      <a href="/profile/edit/@Model.GetId()" class="btn"> Edit Your Profile</a>
    </div>
  </div>

</div>
