@{
    Layout = "Shared/_Layout.cshtml";
}

<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s6">
        <input placeholder="Name" id="customer-name" type="text" class="validate">
        <label for="customer-name">Name</label>
      </div>
      <div class="input-field col s6">
        <input id="customer-photo" type="text" class="validate">
        <label for="customer-photo">Photo</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input placeholder="Email" id="customer-email" type="email" class="validate">
        <label for="customer-email">Email</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="customer-password" type="password" class="validate">
        <label for="customer-password">Password</label>
      </div>
    </div>
    <button type="submit" name="button">Sign Up</button>
    </form>
</div>
