@{
    Layout="Shared/_Layout.cshtml";
}


  <ul id="dropdown1" class="dropdown-content">
    <li><a href="/profile/@Model["customer"].GetId()/newtrip">New Trip</a></li>
    <li class="divider"></li>
    <li><a href="/profile/@Model["customer"].GetId()/trips">Past Trips</a></li>
  </ul>
  <nav>
    <div class="nav-wrapper">
      <a href="/profile/index/@Model["customer"].GetId()" class="brand-logo">Cabrador</a>
      <ul class="right hide-on-med-and-down">
        <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Trips<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a href='/profile/@Model["customer"].GetId()/dogs'>Our Dogs</a></li>
        <li><a href='/profile/@Model["customer"].GetId()'>Your Profile</a></li>
        <li><a href="/">Log Out</a></li>
      </ul>
    </div>
  </nav>

  <div class="row">
    <form action="/profile/@Model["customer"].GetId()/trip_confirm" method='post' >
      <div class="row">
        <div class="input-field">
          <i class="material-icons prefix">room</i>
          <input id="icon_prefix" type="text" class="validate" name="start-address" id="start">
          <label for="icon_prefix">Starting Address</label>
        </div>
        <div class="input-field">
          <i class="material-icons prefix">room</i>
          <input id="icon_prefix" type="text" class="validate" name="stop-address" id="end">
          <label for="icon_prefix">Destination Address</label>
        </div>
        <div class="input-field">
          <i class="material-icons prefix">today</i>
          <input id="icon_telephone" type="date" class="datepicker" name="trip-date">
        </div>
        <div class="input-field">
          <i class="material-icons prefix">navigation</i>
          <input id="icon_telephone" type="number" class="validate" name="miles">
          <label for="icon_telephone">Number of Miles</label>
        </div>
        <div class="input-field">
          <select name="trip-dog">
            <option value="" disabled selected>Choose your dog companion!</option>
            @foreach (var dog in @Model["dog"])
            {
              <option value="@dog.GetId()" class="dogs"><a href="/profile/dog.GetId()/dogs/@dog.GetId()">@dog.GetName()</a></option>
            }
          </select>
        </div>

      </div>
      <button type='submit' class="btn">Book this trip</button>
    </form>
  </div>

    <!-- My functions -->
    <script src="/Content/js/scripts.js"></script>
