@{
    Layout="Shared/_Layout.cshtml";
}

      <ul id="dropdown1" class="dropdown-content">
          <li><a href="/profile/@Model.GetId()/newtrip">New Trip</a></li>
          <li class="divider"></li>
          <li><a href="/profile/@Model.GetId()/trips">Past Trips</a></li>
      </ul>
        <nav>
            <div class="nav-wrapper">
                <a href="/" class="brand-logo">Cabrador</a>
                <ul class="right hide-on-med-and-down">
                    <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Trips<i class="material-icons right">arrow_drop_down</i></a></li>
                    <li><a href="/profile/@Model.GetId()/dogs">Our Dogs</a></li>
                    <li><a href="/profile/@Model.GetId()">Your Profile</a></li>
                    <li><a href="/">Log Out</a></li>
                </ul>
            </div>
        </nav>

        <div class="container" id="userindex">
            <div class="news">
                <h3>News</h3>
                <h4>Study Shows Owning a Dog Lengthens Life Expectancy</h4>
                <p>
                 The New York Times recerlt did a study that found some interesting results. Those who own a dog are 50% more likely to live ten years longer than those who do not own dogs. In addition, those who own cats have a life expectancy that is one year longer, but their quality of life is decreased.
                </p>

                <h4>Best-Reviewed Dog Toys</h4>
                <p>
                 We recently picked our top ten favorite dog toys! Weigh in with your opinion!
                </p>
                <img id="dognews" src="/Content/img/dognews.jpg">
            </div>

        </div>
