/*MAP STUFF*/

#map{
    width: 90%;
    height: 75%;
    margin-top: 30px;
    margin-left: 50px;
}

#waypoints a, #waypoints a:visited{
    font-weight: bold;
    font-size: 50px;
    color: blue;
}

#waypoints {
  display: none;
}

/*mainpage*/

.how {
  padding-top: 110px;
  height: 540px;
  /*text-align: justify;*/
}

img {
  max-height: 700px;
  margin-top: 20px;
}

.text {
  text-align: center;
}

.icons {
  max-height: 100px;
}

#howtext {
  font-size: 20px;
}

#how {
  text-align: center;
}

.about {
  padding-left: 40px;
  padding-top: 100px;

}

.shelter {
  text-align: justify;
}

.dogcar {
  max-width: 800px;
  float: right;
}

.middlerow {
  margin: 150px;
}

.contact {
  margin:
  text-align: right;
  margin-top: 150px;
  margin-right: 40px;
}

.login {
  background-image: url("/Content/img/icons/dashboard.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-height: 800px;
  max-width: 1000px;
}
