#photo {
  float: left;
  margin: 30px;
}


.body {
  float: right;
  margin-right: 60px;
}


.space {
  margin-top: 70px;
}


.card {
  text-align: center;

}


.adopted {
  margin: 100px;
  text-align: center;
}
