/*MAP STUFF*/

#map{
    width: 90%;
    height: 75%;
    margin-top: 30px;
    margin-left: 50px;
}

#waypoints a, #waypoints a:visited{
    font-weight: bold;
    font-size: 50px;
    color: blue;
}

#waypoints {
  display: none;
}

/*mainpage*/

.how {
  padding-top: 110px;
  height: 700px;
  background-image: url("/Content/img/icons/car2.png");
  background-size: cover;
  text-align: justify;
  background-attachment: fixed;

  height: 540px;
  /*text-align: justify;*/
}

#dog {
  max-height: 700px;
  margin-top: 20px;
}

.text {
  text-align: center;
}

.icons {
  max-height: 100px;
}

#howtext {
  font-size: 20px;
}

#how {
  text-align: center;
}

.about {
  padding-left: 40px;
}

.about p {
  font-size: 18px;
}
.shelter {
  text-align: justify;
}

.dogcar {
  max-width: 700px;
  float: right;
}

#about {
  margin-top: 0px;
}

.middlerow {
  margin: 150px;
}

.contact {
  margin:
  text-align: right;
  margin-top: 150px;
  margin-right: 40px;
}

#dashboard {
  height: 800px;
  width: 100%;
}

.loginform {
  border: black solid thin;
  margin: 50px;
}

.loginbtn {
  margin-bottom: 20px;
}

.carimg {
  height: 400px !important;
  width: 500px !important;
}

.carousel-item {
  height: 300px !important;
  text-align: right;
}

.carousel{
  padding-top:700px !important;
  padding-bottom: -200px !important;

}

.puppies {
  height: 300px;
  padding-left: 0px;
}

.doggies {
  text-align: center;
  padding-top: 100px;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
}

.brand-logo {
font-family: 'Righteous', cursive;
font-size: 70px !important;
}

.nav-wrapper {
  background-color: #698CA8;
  padding-top: 28px;
  height: 100px !important;
}

.welcome {
  margin-top: 30px;
}

.trot {
  margin-top: 0px;
  height: 800px;
  width: 100%;
}

#mainpic {
  width: 80%;
}

.dog {
  border-bottom: 2px solid black;
}

#dashboard2pic {
  width: 100%;
  margin-top: 0px;
  height: 800px;
}


.puppy {
  height: 270px;

.caret {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.select-wrapper {
  padding: 4px;
}

#tripform {
  margin-top: 70px;
}

#userindex {
  margin-top: 160px;
}

#dognews {
  float:right;
}

.dogicon {
  height: 60px;
}


.signupform {
  border: black solid thin;
  margin: 50px;
}


#photo {
  float: left;
  margin: 30px;
}


.body {
  float: right;
}


.space {
  margin-top: 70px;
}


.card {
  text-align: center;
}


.adopted {
  margin: 100px;
  text-align: center;
}



font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Dosis', sans-serif;
font-family: 'Cabin', sans-serif;
font-family: 'Poiret One', cursive;
font-family: 'Patrick Hand SC', cursive;
font-family: 'Dekko', cursive;
font-family: 'Righteous', cursive;
font-family: 'Cabin Sketch', cursive;
font-family: 'Love Ya Like A Sister', cursive;
font-family: 'Kranky', cursive;
font-family: 'Megrim', cursive;
font-family: 'Faster One', cursive;
